<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div class="container">
  <div class="row mt-3 mb-2">
    <div class="col-12 col-lg-2"></div>
    <div class="col-12 col-lg-10">
      {% if previous_adventure_id %}
        <a href='/trips/{{trip_id}}/adventures/{{previous_adventure_id}}'><< Previous</a> |
      {% endif %}
      <a href='../../../trips/{{trip_id}}'>Contents</a>
      {% if next_adventure_id %}
        | <a href='/trips/{{trip_id}}/adventures/{{next_adventure_id}}'>Next >></a>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-2"></div>
    <div class="col-12 col-lg-8">
      <h1>{{adventure['name']}}</h1>
    </div>
    <div class="col-12 col-lg-2"></div>
  </div>
  {% if current_user.is_authenticated %}
    <div class="row">
      <div class="col-12 col-lg-2"></div>
      <div class="col-12 col-lg-10">
          <a href='/trips/{{trip['id']}}/adventures/{{adventure['id']}}/locations/new'>New Location</a>
      </div>
      <div class="col-12 col-lg-2"></div>
    </div>
  {% endif %}
{% for location in locations %}
    <div class="row mt-1">
      <div class="col-12 col-lg-2"></div>
      <div class="col-12 col-lg-8">
        <h4>{{location['visit_time']}} | {{location['name']}}</h4>
      </div>
      <div class="col-12 col-lg-2"></div>
    </div>
    {% if current_user.is_authenticated %}
      <div class="row">
        <div class="col-12 col-lg-2"></div>
        <div class="col-12 col-lg-10">
          <a href='/trips/{{trip['id']}}/adventures/{{adventure['id']}}/locations/{{location['id']}}/edit'>Edit</a> |
          <a href='/trips/{{trip['id']}}/adventures/{{adventure['id']}}/locations/{{location['id']}}/photos/new'>Add photo</a>
        </div>
        <div class="col-12 col-lg-2"></div>
      </div>
    {% endif %}
    <div class="row mb-4">
      <div class="col-12 col-lg-2"></div>
      <div class="col-12 col-lg-8">
          <i>{{location['summary']}}</i>
      </div>
      <div class="col-12 col-lg-2"></div>
    </div>
    {% for photo in location['photos'] %}
      <div class="row">
        <div class="col-12 col-lg-2"></div>
        <div class="col-12 col-lg-8">
          <img src='{{photo['photo_url']}}', class="img-fluid">
        </div>
        <div class="col-12 col-lg-2"></div>
      </div>
      {% if photo['subtitle'] %}
        <div class="row mb-4 mt-2">
          <div class="col-12 col-lg-2"></div>
          <div class="col-12 col-lg-8">
            {{photo['subtitle']}}
          </div>
          <div class="col-12 col-lg-2"></div>
        </div>
      {% endif %}
      {% if current_user.is_authenticated %}
        <div class="row mb-5">
          <div class="col-12 col-lg-2"></div>
          <div class="col-12 col-lg-8">
            <a href="/trips/{{trip['id']}}/adventures/{{adventure['id']}}/locations/{{location['id']}}/photos/{{photo['photo_id']}}/edit">Edit photo</a>
          </div>
          <div class="col-12 col-lg-2"></div>
        </div>
      {% endif %}
    {% endfor %}
    <div class="row">
      <div class="col-12 col-lg-2"></div>
      <div class="col-12 col-lg-8">
        <hr/ class="my-3">
      </div>
      <div class="col-12 col-lg-2"></div>
    </div>
{% endfor %}
  <div class="row mt-2 mb-5">
    <div class="col-12 col-lg-2"></div>
    <div class="col-12 col-lg-10">
      {% if previous_adventure_id %}
        <a href='/trips/{{trip_id}}/adventures/{{previous_adventure_id}}'><< Previous</a> |
      {% endif %}
      <a href='../../../trips/{{trip_id}}'>Contents</a>
      {% if next_adventure_id %}
        | <a href='/trips/{{trip_id}}/adventures/{{next_adventure_id}}'>Next >></a>
      {% endif %}
    </div>
  </div>
  <div class="row my-5"></div>
  <div class="row my-5"></div>
</div>
</body>
</html>
