<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-12">
      <a href='../../../trips/{{trip_id}}'>Back to {{trip['name']}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-11">
      <h1>{{adventure['name']}}</h1>
    </div>
    <div class="col-1">
      {% if current_user.is_authenticated %}
        <a href='/trips/{{trip['id']}}/adventures/{{adventure['id']}}/locations/new'>New Location</a><br>
      {% endif %}
    </div>
  </div>
{% for location in locations %}
    <div class="row">
      <div class="col-10">
        <h4>{{location['visit_time']}} - {{location['name']}}</h4>
      </div>
      <div class="col-2">
        {% if current_user.is_authenticated %}
          <a href='/trips/{{trip['id']}}/adventures/{{adventure['id']}}/locations/{{location['id']}}/edit'>Edit</a>
          <a href='/trips/{{trip['id']}}/adventures/{{adventure['id']}}/locations/{{location['id']}}/photos/new'>Add photo</a>
        {% endif %}
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
          <i>{{location['summary']}}</i>
      </div>
    </div>
    {% for photo in location['photos'] %}
      <div class="row">
        <div class="col-12">
          <img src='{{photo['photo_url']}}', class="img-fluid">
        </div>
      </div>
      <div class="row mb-4 mt-2">
        <div class="col-12">
          {{photo['subtitle']}}
        </div>
      </div>
        {% if current_user.is_authenticated %}
          <a href="/trips/{{trip['id']}}/adventures/{{adventure['id']}}/locations/{{location['id']}}/photos/{{photo['photo_id']}}/edit">Edit photo</a>
        {% endif %}
    {% endfor %}
    <hr/ class="my-3">
{% endfor %}
</div>
</body>
</html>
